#product{
    width: 252px;
    height: 677px;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    
    border-radius: 9px;
    box-sizing: border-box;
}
#pr{
    color: #f04a23;
    text-align: center;
}
#bp{
    background-color: #ebedf8;
    border: 1px;
    width: 212px;
    height: 34px;
}
#cp{
    background-color: 
    #fafafa;
    border: 1px;
    width: 212px;
    height: 34px;

}